.App {
  background-color: rgb(250, 250, 250);
}
.container-fluid {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: url("https://www.datto.com/fonts/DattoDIN-Regular.woff2"), 'din-next-regular-latin-1', 'Avenir Next', sans-serif;
}


/* NAVIGATION BAR */
.navbar-bz-purple {
  /* background-color: #34407F; blue: 34407F, purple: 482D62 */
  background:  #4731B9;
  /* background: linear-gradient(90deg,#F93268, #4731B9); */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
}
.navbar {
  font-family: url("https://www.datto.com/fonts/DattoDIN-Regular.woff2"), 'din-next-regular-latin-1';
  letter-spacing: 0.08em;
  margin-bottom: 1em;
}
.nav-link {
  color: rgba(250, 250, 250, 0.74);
}
.nav-link:hover {
  color: white;
}
.navbar-brand {
  font-family: url("https://www.datto.com/fonts/DattoDIN-Regular.woff2"), "din-next-regular-latin-1";
  letter-spacing: 0.1em;
  margin-right: 1rem;
}
.blockzeus-comment {
  font-family: url("https://www.datto.com/fonts/DattoDIN-Regular.woff2"), "din-next-regular-latin-1";
  letter-spacing: 0.07em;
  color: #BEFA5A !important;
  font-size: 1.15rem;
  margin-right: 0rem;
}


/* ALERTS */
.alert {
  letter-spacing: 0.05px;
}


/* TILES */
.card {
  margin-bottom: 20px;
  border-radius: 2px;
}
.card-header {
  font-size: 1.5em;
  letter-spacing: 0.05em;
}
.fa-ul {
  line-height: 2em;
  font-size: 1.2em;
  margin-left: 1.75em;
}
.card-section {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.btn-secondary {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  margin-bottom: 1rem;
}
.price-red {
  background-color: #FFEBEB;
}
.price-green {
  background-color: #EBFFEB;
}
.price-grey {
  background-color: #EBEBEB;
}
.alert-link {
  font-weight: 700;
  text-decoration: underline;
}


/* DONUT SPINNER LOADING ICON */
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(172,105,255, 0.2);
  border-right: 1.1em solid rgba(172,105,255, 0.2);
  border-bottom: 1.1em solid rgba(172,105,255, 0.2);
  border-left: 1.1em solid #a96fca;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* GRID LOADING ICON */
.sk-cube-grid {
  width: 95px;
  height: 95px;
  margin: 80px auto;
}
.sk-cube-grid .sk-cube {
  width: 24%;
  height: 27%;
  margin: 3px;
  background-color: #a96fca;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}


.page-footer {
  background-color: #34407F !important;
  color: whitesmoke;
}