.container {
  /* margin-top: 20px; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar-bz-purple {
  background-color: #483453;
}

.navbar-brand {
  font-family: monaco;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.blockzeus-comment {
  font-family: Monaco;
  color: #BEFA5A !important;
  font-size: 1.25rem;
  margin-right: .2rem;
}

.nav-item {
  font-family: Monaco;
  color: #BEFA5A !important;
  font-size: 1.25rem
}

.card {
  margin-bottom: 20px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
