/* @font-face {
  font-family: 'din-next-regular-latin-1';
  src: local('din-next-regular-latin-1'), url(./din-next-regular-latin-1.ttf) format('truetype');
} */

body {
  margin: 0;
  padding: 0;
  background-color: #FAFAFA;
 }